@{
    Layout = "";
    Html.AddCssFileParts("~/Plugins/ExternalAuth.ReadyConnect/Content/readyconnectstyles.css");    
}
<div class="readyconnect-login-block">
    <div class="buttons">
        <a asp-controller="readyconnectauthentication" asp-action="login" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" class="readyconnect-btn"></a>
    </div>
</div>